@model ProjectManagment.Models.ProjectModel

@{
    ViewData["Title"] = "Project Details";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<h3>Tasks</h3>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.TaskModels)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Deadline</td>
                <td>@task.Status</td>
                <td>
                    <a asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-info">Edit</a> 
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-task-id="@task.Id" data-task-title="@task.Title">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Users</h3>
<div id="projectUsersContainer">
    @await Html.PartialAsync("~/Views/Project/ProjectUsersPartial.cshtml", Model)
</div>

<h4>Add New Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("~/Views/Task/CreateTaskPartial.cshtml", new ProjectManagment.Models.TaskModel { ProjectId = Model.Id })
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@* Render DeleteTaskConfirmation ViewComponent *@
<div id="deleteTaskComponent">
    @await Component.InvokeAsync("DeleteTask", new { taskId = 0, taskTitle = "" })
</div>

@section Scripts {
    @{
        <script>
            $(document).ready(function () {
                $('.btn-danger').click(function (event) {
                    var button = $(this);
                    var taskId = button.data('task-id');
                    var taskTitle = button.data('task-title');

                    // set data for modal view
                    $('#taskTitle').text(taskTitle);
                    $('#taskId').val(taskId);

                    // Load modal view by ajax
                    $.ajax({
                        url: '/Task/DeleteTaskModal',
                        type: 'GET',
                        data: { taskId: taskId, taskTitle: taskTitle },
                        success: function (result) {
                            $('#deleteTaskComponent').html(result);
                            $('#deleteModal').modal('show');
                        }
                    });
                });
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}