@model ProjectModel

@{
    var currentUserRole = (ProjectRole)ViewBag.UserRole;
}
<table class="table">
    <thead>
        <tr>
            <th>User Email</th>
            <th>Role</th>
            <th></th> <!-- Column for Save button -->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.ProjectUsers)
        {
            <tr draggable="true" class="user-item" data-user-id="@user.UserId">
                <td>@user.User.Email</td>
                <td>
                    <form asp-action="ChangeUserRole" method="post" class="form-inline">
                        <input type="hidden" name="projectId" value="@Model.Id" />
                        <input type="hidden" name="userId" value="@user.UserId" />
                        @if (currentUserRole == ProjectRole.Owner)
                        {
                        <select class="form-control" name="role">
                            
                                @foreach (var role in Enum.GetValues(typeof(ProjectRole)).Cast<ProjectRole>())
                                {
                                    @if (user.Role == role)
                                    {
                                        <option value="@role" selected="selected">@role</option>
                                    }
                                    else
                                    {
                                        <option value="@role">@role</option>
                                    }
                                }
                            
                        </select>
                            <button type="submit" class="btn btn-success ml-2">Save</button>
                        }
                        else
                        {
                            @user.Role
                        }
                        
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>